#black {
    background-color: black;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

.color{
    border: solid 1px black;
    margin: 10px;
}

#color-palette {
    display: flex;
}

